
  .card {
    border-radius: 5px;
  width:100%
  }
  .card-body {
    padding: 80px;
    padding-top: 30px;
    padding-left: 10px;
  } 
    .card {
      border: 1px solid #ddd;
      border-radius: 1px;
    
    }
    
    .card-img-top {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
 
    .card-title {
      font-size: 1.25rem;
      margin-bottom: 10px;
  
  
 
    }

    .btn-dark-grey {
      background-color: #2f3031; /* Dark grey color */
      border-color: #2f3031; /* Dark grey color for border */
      color: white;
    }
    
    .btn-dark-grey:hover {
      background-color: #2f3031; /* Darker grey color on hover */
      border-color: #2f3031; /* Darker grey color for border on hover */
    }
    
 