.app-container {
  display: flex;
  justify-content: center; /* Align children components to the center horizontally */
  margin-top: 20px;

}

.card-container-div {
  display: flex;
 /* Ensure equal spacing between the two cards */
 gap: 50px;
 margin-top: 20px;

 
  max-width: 1200px; /* Set a max-width to prevent the container from becoming too wide */

  box-sizing: border-box; /* Ensure padding is included in the width */
}